@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.scrollhost::-webkit-scrollbar { 
  width: 0;
  height: 0;
}

@-moz-document url-prefix() {
  .scrollhost {
      overflow: auto;
      -ms-overflow-style: none;
      scrollbar-color: transparent transparent; 
  }
}



.shadowButton {
  box-shadow: inset 0px 0px 15px 2px rgba(255, 255, 255, 0.418);
}

.shadowButtonSquare {
  box-shadow: inset 0px 0px 15px 2px rgba(255, 255, 255, 0.199);
}

.shadowSquare {
  box-shadow: inset 0px 0px 15px 3px rgba(0, 0, 0, 0.384);
}


.animate-gameboy-pulse {
  animation: gameboy-pulse 1s infinite ease-in-out;
}

.animate-gameboy-pulse-pokemon {
  animation: gameboy-pulse 1s infinite ease-in-out;
}

.animate-gameboy-button-pulse {
  animation: gameboy-button-pulse 0.5s infinite ease-in-out;
}

.animate-gameboy-pulse-pokedex {
  animation: gameboy-pulse-pokedex 0.5s infinite ease-in-out;
}

.credits {
  position: absolute;
  bottom: 0;
  animation: scrollUp 20s linear infinite;
}

@keyframes scrollUp {
  0% {
      top: 150%;
  }
  100% {
      top: -430%;
  }
}



@keyframes gameboy-pulse {
  0% { box-shadow: inset 0 0 0 2px rgba(0, 17, 255, 0.8); }
  50% { box-shadow: inset 0 0 0 3px rgba(0, 11, 165, 0.8); }
  100% { box-shadow: inset 0 0 0 2px rgba(0, 17, 255, 0.8); }
}

@keyframes gameboy-pulse-pokemon {
  0% { box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.8); }
  50% { box-shadow: 0 0 0 5px rgba(255, 0, 0, 0.5); }
  100% { box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.8); }
}

@keyframes gameboy-pulse-pokedex {
  0% { box-shadow: 0 0 0 2px rgb(90, 233, 54); }
  50% { box-shadow: 0 0 0 2px rgba(10, 87, 1, 0.8); }
  100% { box-shadow: 0 0 0 2px rgb(90, 233, 54); }
}

@keyframes gameboy-button-pulse {
  0% { box-shadow: 0 0 0 2px rgb(255, 255, 255); }
  50% { box-shadow: 0 0 0 2px rgba(8, 41, 4, 0.8); }
  100% { box-shadow: 0 0 0 2px rgb(255, 255, 255); }
}